.card-container {
    display: flex;
    justify-content: space-around;
    /* margin-top: 20px; */
  }
  
.card {
    display: flex;
    width: 20%;
    height: 80px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
    background-color: #fff;
  }
  
  .card-icon {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .card-icon .bx {
    font-size: 2em;
  }

  .card-1 .card-icon{
    background-color: #5856D6;
  } 
  .card-2 .card-icon{
    background-color: #3399FF;
  }
  .card-3 .card-icon{
    background-color: #F9B115;
  }
  .card-4 .card-icon{
    background-color: #E55353;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
  
  .card-amount {
    font-size: 1.5em;
    margin-bottom: 5px;
  }
  
  .card-label {
    color: gray;
  }

  .card-link {
    cursor: pointer;
  }
  