<div class="card-container">
  <div class="card card-1">
    <div class="card-icon">
      <i class='bx bxs-group'></i>
    </div>
    <div class="card-info">
      <div class="card-amount">8,120</div>
      <div class="card-label">ALL USER</div>
    </div>
  </div>
  <div class="card card-2">
    <div class="card-icon">
      <i class='bx bx-transfer' ></i>
    </div>
    <div class="card-info">
      <div class="card-amount">11,250</div>
      <div class="card-label">TRANSACTION</div>
    </div>
  </div>
  <div class="card card-3">
    <div class="card-icon">
      <i class='bx bxs-user-account'></i>
    </div>
    <div class="card-info">
      <div class="card-amount">15,228</div>
      <div class="card-label">ALL ACCOUNT</div>
    </div>
  </div>
  <div class="card card-4">
    <div class="card-icon">
      <i class='bx bx-user-plus'></i>
    </div>
    <div class="card-info">
      <div class="card-amount">20</div>
      <div class="card-label">PENDING ACCOUNT</div>
    </div>
  </div>
</div>

