<!-- Deposit Page Component -->
<div class="deposit-container">
  <div class="deposit-body">
    <h2>Deposit</h2>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Account number</mat-label>
        <input matInput placeholder="Enter Account number" required>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter name" required>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Deposit amount</mat-label>
        <input matInput type="number" placeholder="Enter amount" required>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Account type</mat-label>
        <mat-select>
          <mat-option value="checking">Checking</mat-option>
          <mat-option value="savings">Saving</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field subscriptSizing="dynamic" appearance="fill">
        <mat-label>Nội dung nạp tiền</mat-label>
        <textarea matInput placeholder="Nội dung nạp tiền" formControlName="description"></textarea>
      </mat-form-field>
  
      <div class="confirmButton">
        <button>Send</button>
      </div>
      
    </form>
  </div>
</div>
