server:
  port: 8888

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: user_service
          uri: http://localhost:8081
          predicates:
            - Path=/api/**
    inetutils:
      timeout-seconds: 10

app:
  eureka-server: localhost
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/