/* Deposit Page Styles */
.deposit-container {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 97%;
  height: 98%;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(115deg, #8df55d, #7dd0fa);
}

.deposit-body {
  max-width: 400px;
  padding: 20px;
  margin: auto;
  height: 70%;
  border: 1px solid #ccc;
  border-radius: 5px; /* Viền bo tròn */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Bóng đổ nhẹ */
  background-color: #fff;
}

h2 {
  text-align: center;
  color: #333;
  font: 2em sans-serif;
  font-weight: bold;
}

mat-form-field {
  width: 100%;
  height: fit-content;
  border-radius: 10px;
}

.confirmButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmButton button{
  margin-top: 20px;
  width: 30%;
  background-color: #1E3DE8;
  height: 30px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}



/* Responsive Styles */
@media (max-width: 600px) {
  .deposit-container {
    width: 100%;
    padding: 15px;
    border-radius: 5px; /* Viền bo tròn nhỏ hơn cho màn hình nhỏ */
  }
}
