/* Transfer Page Styles */
.transfer-container {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 97%;
  height: 98%;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(135deg, #26b5ed, #f5eeff);
}

.transfer-body {
  max-width: 600px;
  padding: 20px;
  margin: auto;
  height: 70%;
  border: 1px solid #ccc;
  border-radius: 5px; /* Viền bo tròn */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Bóng đổ nhẹ */
  background-color: #fff;
  /* background-color: linear-gradient(135deg, #6e00ff, #ff00c3); */
}

.dropdown-button {
  position: absolute;
  top: 55%;
  right: 2px;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.account-info {
  margin-bottom: 30px;
  padding: 15px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 13px; /* Viền bo tròn */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Bóng đổ nhẹ */
}

.account-number {
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-id, .separator, .account-name {
  font-weight: 500;
  padding: 0 4px; /* Thêm khoảng cách giữa các thẻ */
}

.account-id{
  padding-left: 0;
}

.account-name{
  margin-right: 5px;
}

.separator {
  padding: 0 10px; /* Thêm khoảng cách lớn hơn cho dấu gạch ngang */
}

.balance {
  margin-top: 10px;
  font-size: 1.8em;
  color: #333;
  font-weight: bold;
}

.set-default {
  margin-top: 10px;
  text-transform: none;
}

.transfer-form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.confirmButton {
  margin-top: 20px;
  background-color: #1E3DE8;
  height: 30px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .transfer-container {
    padding: 10px;
  }
}
