<!-- Transfer Page Component -->
<div class="transfer-container">
  <div class="transfer-body">
    
      <mat-card class="account-info">
        <div class="account-number">
          <div class="account-id">{{accountId}}</div>
          <div class="separator">-</div>
          <div class="account-name">{{fullname}}</div>
        </div>
        <div class="balance">{{formattedBalance}} VND</div>
        <button class="dropdown-button"><i class='bx bx-chevron-down'></i></button>
      </mat-card>
    <form class="transfer-form" [formGroup]="tranferForm">
      <mat-form-field subscriptSizing="dynamic" appearance="fill">
        <mat-label>Tài khoản đích</mat-label>
        <input matInput placeholder="Nhập số tài khoản" formControlName="destinationAccountId">
      </mat-form-field>

      <mat-form-field subscriptSizing="dynamic" appearance="fill">
        <mat-label>Tên tài khoản</mat-label>
        <input matInput placeholder="Tên tài khoản" formControlName="destinationAccountName">
      </mat-form-field>

      <mat-form-field subscriptSizing="dynamic" appearance="fill">
        <mat-label>Số tiền</mat-label>
        <input matInput type="number" placeholder="Nhập số tiền" formControlName="amount">
      </mat-form-field>

      <mat-form-field subscriptSizing="dynamic" appearance="fill">
        <mat-label>Nội dung chuyển tiền</mat-label>
        <textarea matInput placeholder="Nội dung chuyển tiền" formControlName="description"></textarea>
      </mat-form-field>

      <button class="confirmButton" mat-raised-button color="warn" (click)="onFormSubmit()">Tiếp tục</button>
    </form>
  </div>
</div>
