<div mat-dialog-title>
    <h2>Change Profile Form</h2>
</div>
<form [formGroup]="passwordForm">
    <div mat-dialog-content>
        <div>
            <mat-form-field>
                <mat-label>Old Password</mat-label>
                <input matInput formControlName="oldPassword" type="password">
                <mat-error *ngIf="passwordForm.controls.oldPassword.invalid && passwordForm.controls.oldPassword.touched">
                  Old Password is required
                </mat-error>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>New Password</mat-label>
                <input matInput formControlName="newPassword" type="password">
                <mat-error *ngIf="passwordForm.controls.newPassword.invalid && passwordForm.controls.newPassword.touched">
                  New Password is required
                </mat-error>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Confirm New Password</mat-label>
                <input matInput formControlName="confirmNewPassword" type="password">
                <mat-error *ngIf="passwordForm.controls['confirmNewPassword'].invalid && passwordForm.controls['confirmNewPassword'].touched">
                  Confirm New Password is required
                </mat-error>
                <mat-error *ngIf="passwordForm.errors?.['mustMatch'] && passwordForm.controls['confirmNewPassword'].touched">
                  Passwords do not match
                </mat-error>
              </mat-form-field>
        </div>                 
    </div>
</form>

<div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit" (click)="onFormSubmit()">Change</button>
</div>