server:
  port: 8081

spring:
  application:
    name: user-service
  datasource:
    url: jdbc:mysql://localhost:3306/user_management_service?createDatabaseIfNotExists=true
    username: root
    password: hung1218
  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        jdbc.time_zone: UTC
        format_sql: true

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE

jwt:
  signerKey: "QX4Ff8PzmCqUfjIAkP2wh7l5+ezHZeSGc6rynT9AnSU52us/8hLf1Qs5aydhr7Si"
  valid-duration: 5 #in seconds
  refreshable-duration: 120 #in seconds