<div class="container">
    <!-- Expense Statistics -->
    <div class="card">
        <div class="card-header">
            <h2>Virtual Card</h2>
        </div>
        <div class="slider-container">
            <div class="card-body" [style.transform]="transformStyle">
                <div class="card-home">
                    <div class="card-info">
                        <div class="info-header">
                            <span class="card-title">Home Account (GBP)</span>
                            <span class="card-logo">EBank</span>
                        </div>
                        <div class="card-number">
                            <p>{{accIdStr}}</p>
                        </div>
                        
                        <div class="infor-footer">
                            <div class="footer-left">
                                <span class="footer-left-title">Card Holder</span>
                                <span class="footer-left-owner">{{fullname?.toUpperCase() }}</span>
                            </div>
                            <div class="footer-right">
                                <span class="footer-right-title">Expries</span>
                                <span class="footer-right-owner">05/30</span>
                            </div>              
                        </div>      
                    </div> 
                    <div class="card-actions">
                        <a [routerLink]="['/user/transaction']" class="transfer-funds">Transfer Funds</a>
                        <button class="add-card" (click)="openAddCardForm()">Add Card</button>
                    </div>
                </div>
                <div class="card-home">
                    <div class="card-info">
                        <div class="info-header">
                            <span class="card-title">Home Account (GBP)</span>
                            <span class="card-logo">EBank</span>
                        </div>
                        <div class="card-number">
                            <p>{{accIdStr}}</p>
                        </div>
                        
                        <div class="infor-footer">
                            <div class="footer-left">
                                <span class="footer-left-title">Card Holder</span>
                                <span class="footer-left-owner">{{fullname?.toUpperCase() }}</span>
                            </div>
                            <div class="footer-right">
                                <span class="footer-right-title">Expries</span>
                                <span class="footer-right-owner">05/30</span>
                            </div>              
                        </div>      
                    </div> 
                    <div class="card-actions">
                        <a [routerLink]="['/user/transaction']" class="transfer-funds">Transfer Funds</a>
                        <button class="add-card" (click)="openAddCardForm()">Add Card</button>
                    </div>
                </div>
                <div class="card-home">
                    <div class="card-info">
                        <div class="info-header">
                            <span class="card-title">Home Account (GBP)</span>
                            <span class="card-logo">EBank</span>
                        </div>
                        <div class="card-number">
                            <p>{{accIdStr}}</p>
                        </div>
                        
                        <div class="infor-footer">
                            <div class="footer-left">
                                <span class="footer-left-title">Card Holder</span>
                                <span class="footer-left-owner">{{fullname?.toUpperCase() }}</span>
                            </div>
                            <div class="footer-right">
                                <span class="footer-right-title">Expries</span>
                                <span class="footer-right-owner">05/30</span>
                            </div>              
                        </div>      
                    </div> 
                    <div class="card-actions">
                        <a [routerLink]="['/user/transaction']" class="transfer-funds">Transfer Funds</a>
                        <button class="add-card" (click)="openAddCardForm()">Add Card</button>
                    </div>
                </div>
                <div class="card-home">
                    <div class="card-info">
                        <div class="info-header">
                            <span class="card-title">Home Account (GBP)</span>
                            <span class="card-logo">EBank</span>
                        </div>
                        <div class="card-number">
                            <p>{{accIdStr}}</p>
                        </div>
                        
                        <div class="infor-footer">
                            <div class="footer-left">
                                <span class="footer-left-title">Card Holder</span>
                                <span class="footer-left-owner">{{fullname?.toUpperCase() }}</span>
                            </div>
                            <div class="footer-right">
                                <span class="footer-right-title">Expries</span>
                                <span class="footer-right-owner">05/30</span>
                            </div>              
                        </div>      
                    </div> 
                    <div class="card-actions">
                        <a [routerLink]="['/user/transaction']" class="transfer-funds">Transfer Funds</a>
                        <button class="add-card" (click)="openAddCardForm()">Add Card</button>
                    </div>
                </div>                          
            </div>
            <div class="navigation">
                <button (click)="prevSlide()">Previous</button>
                <button (click)="nextSlide()">Next</button>
            </div>
        </div>
    </div>

    <!-- Transactions Statistics -->
    <div class="transactions-statistics">
        <div class="header">
            <div class="title">Transactions Statistics</div>
            <div class="date-controls">
                <div class="date-controls">
                    <button (click)="setPreviousMonth()">Previous Month</button>
                    <button (click)="setNextMonth()">Next Month</button>
                <!-- <mat-form-field appearance="fill">
                  <mat-label>Date</mat-label>
                  <input matInput [matDatepicker]="picker" [formControl]="dateControl" (dateChange)="onDateChange($event)">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field> -->
                <div class="date-picker">March 2023</div>
                </div>
            </div>
        </div>
        <div class="line-chart" [chart]="lineChart"></div>
    </div>

    <!-- All Transactions -->
    <div class="all-transactions">
        <div class="transactions-table">
            <table>
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Description</th>
                        <th>Destination Account</th>
                        <th>Type</th>
                        <th>Card</th>
                        <th>Date</th>
                        <th>Amount (VNĐ)</th>
                        <!-- <th>Receipt</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transaction of transactions; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ transaction.description }}</td>
                        <td>{{ transaction.destinationAccountId }}</td>
                        <td>{{ transaction.transactionType }}</td>
                        <td>{{ transaction.sourceAccountId }}</td>
                        <td>{{ transaction.transactionDate| date:'short' }}</td>
                        <td [ngClass]="{
                            'negative': transaction.sourceAccountId == accId,
                            'positive': transaction.destinationAccountId == accId
                          }">
                        {{ getAmountPrefix(transaction) }}{{ transaction.amount }}
                      </td>
                        <!-- <td>{{ transaction.receipt }}</td> -->
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tabs">
            <button (click)="onPageChange(page - 1)" [disabled]="page === 0">Previous</button>
            <button (click)="onPageChange(page + 1)" [disabled]="page === totalPage - 1">Next</button>
        </div>
    </div>
</div>